html,body{
	height:100%;
	margin:0;
	background: #d8d8d8
}
body{
	color:#58595b;
	font-family: "europa";
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	line-height: 1.5;
	position: relative;
	cursor: auto;
	letter-spacing: 0.05rem;
	-webkit-font-smoothing: subpixel-antialiased
}

#top{
	background:url('http://d.fastcompany.net/multisite_files/fastcompany/imagecache/1280/poster/2014/03/3025992-poster-p-designwork.jpg');
	background-attachment: fixed;
	background-position:  bottom;
	background-size:cover;
	height:50%;
	width:100%;
}
h1{
	color:#4fbfa6;
	font-size:18pt;
	font-weight:400;
	margin:0px;

}
h2{
	font-size:12pt;
	font-weight: 200;
	margin:0px;

}
a{
	color:#58595b;
	text-decoration: none;
}
a:hover{
	color:#4fbfa6;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }

.profile{
	width:50em;
	background: white;
	margin:0 auto;
	position: relative;
	padding:0px 120px;
}
.avatar-container{
	width:25em;
	text-align:center;
	position: absolute;
	left:50%;
	right:50%;
	top:-6em;
	margin-left:-12.5em;
}

.avatar-container img.avatar{
	width:12em;
	height:12em;
	border-radius:100%;
	margin-bottom:10px;
}

h3{
    font-size:16px;
    color:#7ab5fe;
    font-weight:400;
    margin:20px 0px;
}
.logo{
    width:150px;
}

.resume-left, .resume-right{
    float:left;
    width:30%;
    margin-top:270px;
}
.personal-info{
    margin:0px 0px 0px 0px;
    padding:0;
    list-style:none;
}
.personal-info li{
    font-size:0.8313rem;
    font-weight:300;
    margin-top:5px;
}
.personal-info li i{
    width:40px;
    font-size:1.2rem;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
}
.personal-info li .fa-mobile{
    font-size:1.7em;
}

p{
    font-weight:300;
    font-size:0.8313em;
    line-height:1.4em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased

}
p.bio{
     padding:10px;
}

.social-links .social{
	display: inline-block;
	vertical-align: top;
	border: none;
	margin-right: 15px;
	color:#7ab5fe;
	font-weight:bold;
	font-size:1.6em;
}
.resume-right{
    width:70%;
	padding:0px 0px 0px 45px;
	box-sizing:border-box;
}

.module{
	margin-bottom:30px;
}
.module .title,.module .sub-title, .module2 .title {
	font-size:0.813em;
	font-weight:bold;
}
.module .sub-title{
	font-size:13px;
    font-weight:normal;
    font-style: italic;
}

.skills-list{
    margin:0;
    padding:0;
}

.skills-list li{
    position:relative;
    margin-bottom:30px;
    list-style:none;
}
.skills-list li .left{
    width:80px;
    display:inline-block;
    vertical-align:middle;
    text-align:center;

}
.skills-list .skills-badge{
    height:24px;
}

.skills-list li .right{
    width:400px;
    display:inline-block;
    vertical-align:middle;
}
.skills-list li .right .title{
    font-size:16px;
}

.skills-list li .right p{
    margin:0;
}
